@charset "UTF-8";
@font-face {
    font-family: 'TomsHandwritten';
    src: url('../common-files/fonts/toms/280747_0_0.eot');
    src: url('../common-files/fonts/toms/280747_0_0.eot') format('embedded-opentype'), url('../common-files/fonts/toms/280747_0_0.woff') format('woff'), url('../common-files/fonts/toms/280747_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Impact';
    src: url('../common-files/fonts/IMPACT.TTF');
}
body {
	background-color: rgba(0,136,204,0.3);
}
header#cabeçalho{
	position: absolute;
	top: 0px;
	left: 0px ;
	right: 0px;
	border-bottom: 3px rgb(255,192,0) solid;
	background-color: rgb(0,136,204);
	
}
table#menu{
	color: rgb(255,192,0);
	font-family: Impact;
	font-size:25px;
	position: absolute;
	top: 45px;
	left: 45% ;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}
table#menu a:visited{
	color: rgb(255,192,0);
	text-decoration: none;
}
section#corpo{
	display: block;
	position: absolute;
	top: 230px;
	left: 10px ;
	right: 10px;
}
table#fotos{
	position: absolute;
	left:350px;
}
